   <% provide(:title, "About") %>
   <h1>About</h1>
    <p>
      This is the about page for the Ts application. n this page I will place the info related to this application, how it works, what it does and more.
    </p>
 