	<% provide(:title, "Contact Us") %>

	<h1>Contact Us</h1>
    <p>
      This is the contact us page for the Ts application. In this page I will place the info needed in case a anyone wants to contact us.
    </p>