	<% provide(:title, "Help") %>    

    <h1>Help</h1>
    <p>
      This is the help page for the Ts application. IIn this page I will place the info needed in case a new or an existing user have any questions
    </p>
  