<div class="center jumbotron">
  <h1>Welcome to Ts App</h1>

  <h2>
     This is the home page for the Ts application. In this page I've place the buttons for selecting if you would like to enter as a  Company or as a Professional. The sign up button will be there while developing... 
  </h2>

  <%= link_to "Company", '#', class: "btn btn-lg btn-primary" %>

  <%= link_to "Professional", '#', class: "btn btn-lg btn-primary" %>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>