<% provide(:title, 'Users Sign up') %>

<h1>Sign up</h1>
<%= error_messages_for(@user) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	  <%= form_for(:user, :url => {:action => 'create', :id => @user.id}) do |f| %>
	  <%= render(:partial => "shared/form", :locals => {:f =>f}) %>
	  <%= f.submit "Create my User account", class: "btn btn-primary" %>
	  <!-- It is missing a cancel button -->
	  <% end %>
 </div>
</div>