<% @page_tittle = "Delete Company" %>

<%= link_to("<< Back to Menu", {:action => 'index'}, :class => 'back-link') %>

<div class="companies delete">
	<h2> Delete Company </h2>

		<%= form_for(@company, :html => {:method => :delete}) do |f| %>
			<p> Are you sure you want to permanently delete this company? </p>	

			<p class="reference-name"><%= @company.name %></p>

		<div class="form_buttons">
			<%= submit_tag("Delete Company") %>
		</div>

		<% end %>

</div>