<% provide(:title, "Company Sign Up") %>



<h1>Company Sign Up</h1>

<!-- This form will be completed by the company's application administrator at the company's
site once the company has decided it wants to try the Ts application. Once the process is completed, t
he comapny will be created and the company's application administrator could create other users with the users form -->


<%= error_messages_for(@company) %> 

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for(:company, :url => {:action => 'create', :id => @company.id}) do |f| %>
     <%= render(:partial => "shared/form", :locals => {:f =>f}) %>     
     <%= f.submit "Create my Company account", class: "btn btn-primary" %>
     <% end %>
  </div>
</div> 