<% @page_tittle = "Delete Appointment" %>

<%= link_to("<< Back to Menu", {:action => 'index'}, :class => 'back-link') %>

<div class="companies delete">
	<h2> Delete Appointment </h2>

		<%= form_for(@appointment, :html => {:method => :delete}) do |f| %>
			
		<p class="reference-id"><%= "Are you sure you want to permanently delete appointment No. #{@appointment.id} "%></p>

		<div class="form_buttons">
			<%= submit_tag("Delete Appointment") %>
		</div>

		<% end %>

</div>