<% @page_tittle = "Delete Appointment" %>

<div class="companies delete">
	<h2> Delete Appointment </h2>
	<%= link_to("<< Back to Menu", {:action => 'index'}, :class => 'back-link') %>
	<br>
		<%= form_for(@appointment, :html => {:method => :delete}) do |f| %>
			<br>
		<p class="reference-id"><%= "Are you sure you want to permanently delete appointment No. #{@appointment.id} "%></p>
		<div class="form_buttons">
			<%= submit_tag("Delete Appointment") %>
		</div>
		<% end %>
</div>